<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UiTestSuite">

    <test verbose="2"
          name="UiTest">
        <groups>
            <run>
                <include name = "UiTest" />
            </run>
        </groups>
        <classes>
            <class name="ui_tests.Kolesa"/>
        </classes>
    </test>
</suite>