<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UiTestSuite">
    <test verbose="2" name="C:/Users/Wladyslaw/IdeaProjects/kolesakz_patterns">

        <groups>
            <run>
                <include name = "UiTest" />
            </run>
        </groups>

        <classes>
            <class name="com.epam.cdp.kzta2020.ui_tests.KolesaTest">
                <methods>
                    <exclude name="PublishAdvertTest"/>
                    <include name="SearchWithPhoto"/>
                    <include name="AdvancedSearch"/>
                </methods>
            </class>
        </classes>

    </test>
</suite>